<%= render "/layouts/header2_index" %>
        <%= render 'camaleon_cms/flash_messages' %>
            <div class="fondo-form">
                <div class="registration-form">
                    <div class="titulo"><h3>Error</h3></div>                                    
                     <div class="alert alert-danger" role="alert">
                        No hemos recibido correctamente el pago. Intenta nuevamente
                     </div>
                </div>
            </div>
<%= render "layouts/footer2" %>