<%= render "/layouts/header2_index" %>
        <%= render 'camaleon_cms/flash_messages' %>
            <div class="fondo-form">
                <div class="registration-form">
                    <div class="titulo"><h3>Gracias</h3></div>                                    
                     <div class="alert alert-success" role="alert">
                        Hemos recibido correctamente el pago!
                     </div>
                </div>
            </div>
<%= render "layouts/footer2" %>