
<footer id="main-footer">
    <div id="footer-bottom">
        <div class="container clearfix">
            <div id="footer-info">© <%=Date.today.year%> | All Rights Reserved | Privacy Policy </div>
        </div>
    </div>
</footer>