<div class="container intranet-top">    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="<%= cama_events_path %>"><%= t("eventis")%></a></li>
            <li class="breadcrumb-item active" aria-current="page"></li>
        </ol>
    </nav>
    <div class="titulo"><h2><%= t("eventis")%></h2>
        <p>&nbsp;</p>
    </div>  
    <div class="tab-content">                                     
        <div class="card">
            <div class="card-content">                    
                <div class="card-body">
                    <h2>Evento privado</h2>  
                    <hr>
                    
                    <p>Evento exclusivo para socios, inicia sesión aquí para ver el detalle</p>
                    
                </div>
        
            </div>
        </div>
    </div>                    
</div>