<div class="asamblea">
    <div class="registration-form">
        <div class="hijo"><p><img width="500" src="media/1/Logo_BAIDATA_IDSA_rgb-01_1.png"></p></div>
        <div class="titulo"><h3>INSCRIPCIÓN ASAMBLEA CONSTITUYENTE</h3>
        <h5>6 de mayo 2022 | 09:00 - 12:00  <br> Sede de Gaia (Paseo Uribitarte 3, Bilbao) </h5> </div>
        <%= raw do_shortcode('[forms slug=inscripcion-asamblea]')%>
    </div>
    <%= render "camaleon_cms/flash_messages" %>
</div>
<%= render "layouts/footer2" %>