<%= render "layouts/header2_index" %>
<%= render "camaleon_cms/flash_messages" %>
 <div class="paraelstream">
    <div class="container">
        <div class="col-md-12">
            <%= raw @evento.get_field("streaming").translate(I18n.locale.to_s)%>
        </div>    
    </div>
</div>            
<%= render "layouts/footer2" %>